* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Open Sans', sans-serif;
    background-color: lightgreen;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
/* Corpo Pagina */
main {
    width: 50vw;
    height: 60vh;
    border: 2px solid black;
    margin: 50px auto;
    border-radius: 25px;
    background-color: blanchedalmond;
}
main > * {
    display: block;
    margin: 50px;
    text-align: center;
}
h1 {
    text-shadow: 1px 2px 4px rgb(96, 96, 96);
}
label {
    font-size: 20px;
    font-weight: bold;
}
input {
    width: 250px;
    height: 30px;

}
input,
button {
    margin-left: 50%;
    transform: translate(-50%, 0);
    border-radius: 25px;
}
button {
    padding: 5px 10px;
    cursor: pointer;
}
button,
input,
main,
#container,
#risultato {
    box-shadow: 2px 2px 5px #000;
}
.jello {
    animation: jello-vertical 0.9s both;
}
@keyframes jello-vertical {
    0% {transform: scale3d(1, 1, 1);}
    30% {transform: scale3d(0.75, 1.25, 1);}
    40% {transform: scale3d(1.25, 0.75, 1);}
    50% {transform: scale3d(0.85, 1.15, 1);}
    65% {transform: scale3d(1.05, 0.95, 1);}
    75% {transform: scale3d(0.95, 1.05, 1);}
    100% {transform: scale3d(1, 1, 1);}
}
.t_und {
    text-decoration: underline;
    font-weight: bold;
}